#banner {
  height: 300px;
}

#banner > img {
  width: 100%;
  /* 동영상 내의 해당 이미지는 1024px * 300px로 되어있다... */
  /* 나는 banner와 banner > img 둘다 height를 지정하지 않았다 */
  /* 그렇게 하므로 이미지 원본의 height를 따르게끔 해줬다 */
}

#body > h1 {
  margin-top: 16px;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  /* product-card를 180px줬지만 부모의 전체크기를 양분하기 때문에 
  wrap속성을 사용해 자식의 속성을 먼저 따르게 만든다 */
  margin-top: 12px;
}

.product-card {
  width: 180px;
  height: 300px;
  /* background-color: gray; */
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 12px;
  overflow: hidden;
  /* 부모의 영역을 침범하지 않는다 -> 침범하는 구간을 히든처리한다 */
}

.product-img {
  width: 100%;
  height: 210px;
}

.product-contents {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.product-name {
  font-size: 14px;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}

.product-seller {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.product-avatar {
  width: 24px;
}

.product-link {
  color: inherit;
  text-decoration: none;
}
